.l {
  float: left;
}
.r {
  float: right;
}
.cl {
  clear: both;
}
.n,
.nav {
  font-weight: normal;
  font-style: normal;
}
.b {
  font-weight: bold;
}
.i {
  font-style: italic;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.tj {
  text-align: justify;
}
.ti2 {
  text-indent: 2em;
}
.c0 {
  color: #000;
}
.c1 {
  color: #333;
}
.c2 {
  color: #666;
}
.c3 {
  color: #999;
}
.cb {
  color: #5079d9;
}
.cg {
  color: #8b8b8b;
}
.cm {
  color: #333;
}
.co {
  color: #fe9001;
}
.cc {
  color: #ccc;
}
.cr {
  color: #f00;
}
.cw {
  color: #fff;
}
.fs {
  font-size: 1rem;
}
.f3s {
  font-size: 0.714em;
}
.f2s {
  font-size: 0.785em;
}
.f1s {
  font-size: 0.85em;
}
.fm {
  font-size: 1em;
}
.f1x {
  font-size: 1.14em;
}
.f2x {
  font-size: 1.28em;
}
.vt {
  vertical-align: top;
}
.vm {
  vertical-align: middle;
}
.vb {
  vertical-align: bottom;
}
.m0 {
  margin: 0;
}
.ml1 {
  margin-left: 1em;
}
.mr1 {
  margin-right: 1em;
}
.p0 {
  padding: 0;
}
.pl1 {
  padding-left: 1em;
}
.pr1 {
  padding-right: 1em;
}
.pt1 {
  padding-top: 1em;
}
.pb1 {
  padding-bottom: 1em;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.ps {
  position: static;
}
.pf {
  position: fixed;
}
.df {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}
.dn {
  display: none;
}
.db {
  display: block;
}
.dib {
  display: inline-block;
}
.di {
  display: inline;
}
.aic,
.csb {
  -ms-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -ms-flex-align: center;
  -webkit-flex-align: center;
  flex-align: center;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.csb {
  -ms-box-pack: justify;
  -webkit-box-pack: justify;
  box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-flex-pack: justify;
  flex-pack: justify;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.oh {
  overflow: hidden;
}
.os {
  overflow: scroll;
}
.vh {
  visibility: hidden;
}
.vv {
  visibility: visible;
}
.cf:after {
  display: block;
  content: "";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.e {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.m {
  background: none no-repeat 50% 50%;
  background-size: cover;
}
.wpr {
  margin: 0 5%;
}
.wpr2 {
  margin: 5%;
}
.con {
  padding: 0 5%;
}
.con2 {
  padding: 5%;
}
.bgw {
  background-color: #fff;
}
.bgm {
  background-color: #fff;
}
.clamp {
  line-height: 1.2em;
  max-height: 2.4em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.lb {
  padding-bottom: 5em;
}
.p {
  margin: 1em 0;
  min-height: 1em;
}
.loading,
.lazy-loading,
.empty-loading:empty {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MCIgaGVpZ2h0PSI2MCIgdmVyc2lvbj0iMS4xIj4NCjxzdHlsZT5jaXJjbGV7c3Ryb2tlLWRhc2hvZmZzZXQ6MTYwOy13ZWJraXQtYW5pbWF0aW9uOmEgMS42cyBpbmZpbml0ZTthbmltYXRpb246YSAxLjZzIGluZmluaXRlO31ALXdlYmtpdC1rZXlmcmFtZXMgYXsxMDAle3N0cm9rZS1kYXNob2Zmc2V0Oi0xNjA7fX1Aa2V5ZnJhbWVzIGF7MTAwJXtzdHJva2UtZGFzaG9mZnNldDotMTYwO319PC9zdHlsZT4NCjxjaXJjbGUgY3g9IjMwLjMxMDI1IiBjeT0iMjkuODMyOTMiIHI9IjIyLjkxMTY5IiBmaWxsPSJub25lIiBzdHJva2U9IiNEREQiIHN0cm9rZS13aWR0aD0iNiIgc3Ryb2tlLWRhc2hhcnJheT0iMTYwLDE2MCIvPg0KPC9zdmc+") no-repeat 50% 50%;
  background-size: 2em;
}
html {
  font-size: 75px;
  font-size: 10vw;
}
body {
  width: 100%;
  min-width: 320px;
  font: normal 12px/18 "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
  color: #333;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}
main {
  display: block;
}
@media (max-width: 320px) {
  html {
    font-size: 32px;
  }
}
html,
body,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-size: 1em;
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-appearance: none;
}
textarea,
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="number"],
input[type="email"],
input[type="url"] {
  border: 1px solid #a9a9a9;
}
input {
  padding: 0.2em 0.4em;
}
input:disabled {
  background-color: #ddd !important;
  color: #999 !important;
  border: 1px solid #ddd;
}
input:focus,
textarea:focus {
  outline: none;
}
input[type="radio"],
input[type="checkbox"] {
  position: relative;
  width: 1em;
  height: 1em;
  border: 0;
  background: transparent;
  -webkit-appearance: none;
  vertical-align: text-top;
}
input[type="radio"]:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.5em;
  border: 0.25em solid #e1e1e1;
  background-color: #999;
}
input[type="radio"]:checked:before {
  border-color: #999;
  background-color: #252525;
}
input[type="checkbox"]:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  box-sizing: border-box;
  border: 1px solid #ccc;
  text-align: center;
  color: #666;
  line-height: 1em;
}
input[type="checkbox"]:checked:before {
  content: "√";
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: currentColor;
}
img {
  max-width: 100%;
}
.nav {
  height: 0.45rem;
  border: 1px solid;
}
.header >>> .swiper-content {
  background: #f00;
  font: 1em/1.8 "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
  background-color: #00f;
}
li:nth-child(1) {
  width: 5%;
  border: 5em solid;
}
li:nth-child(2) {
  width: 5%;
  border: 10em solid;
}
.border {
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
  -ms-box-flex: 5.5;
  -webkit-box-flex: 5.5;
  box-flex: 5.5;
  -ms-flex: 5.5;
  -webkit-flex: 5.5;
  flex: 5.5;
  border-radius: 5px;
  box-shadow: 1px 2px 5px inset #f00, 2px 3px 10px #00f;
  -ms-transform: translate(100px, 50px) rotate(45deg);
  -webkit-transform: translate(100px, 50px) rotate(45deg);
  transform: translate(100px, 50px) rotate(45deg);
  background: -ms-linear-gradient(to right, #f00, #fff);
  background: -webkit-linear-gradient(to right, #f00, #fff);
  background: linear-gradient(to right, #f00, #fff);
  background-color: #f00;
}
.border-1 {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  -ms-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -ms-flex-align: center;
  -webkit-flex-align: center;
  flex-align: center;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
