
bg(){
  background:arguments;
}
bgi(){
  background-image:arguments;
}
bgc(){
  background-color:arguments;
}
bgl(){
  background:linear-gradient(arguments);
}
bgr(){
  background:radial-gradient(arguments); 
}
