/*****************  经常改变的变量 ****************/
$bgw=#FFF;
$bgm=#FFF;
$cm=#333;

$nav-height=.45rem;

$fonts = "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
$font-size=12px;
$line-height=18;

$min-width=320px;
$max-width=1000px;



/***************** 不经常改变的变量 ****************/
$support-for-ie?=true;


/**************** 很少改变的变量 ******************/
$vendor-prefixes ?= $support-for-ie? ms webkit:webkit;
$felx-vertion=box flex;

